<%= form_with(model: bookmark) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
      <ul>
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :link_name, class: "form-control", placeholder: "Name your bookmark", id: "floatingTextarea" %>
        <label for="floatingTextarea">Bookmark Name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <%= form.text_area :paste_url, class: "form-control", placeholder: "Paste link", id: "floatingTextarea2" %>
        <label for="floatingTextarea2">Paste 🔗</label>
      </div>
    </div>
    <div class="actions mt-2">
      <%= form.submit "Pin 📌", class: "btn btn-outline-light" %>
    </div>
  </div>
<% end %>
