<h1 class="text-white mb-5">Bookmarker</h1>
<!--New bookmark collapse-->
<p>
  <a class="btn btn-outline-light btn-lg shadow" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    New Bookmark 🚩🚩🚩
  </a>
</p>
<div class="collapse mb-3" id="collapseExample">
  <div class="card border-dark shadow">
    <div class="card-body">
      <%= render 'form', bookmark: @new_bookmark %>
    </div>
  </div>
</div>

<!--My Bookmarks offcanvas-->

<a class="btn btn-outline-dark btn-lg my-5 shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
  My Bookmarks
</a>

<div class="offcanvas offcanvas-top bg-dark opacity-75" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-white" id="offcanvasWithBothOptionsLabel">My Bookmarks 🔥</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
      <div class="btn-group dropstart">
        <% @bookmarks.each do |bookmark| %>

          <a href="<%= bookmark.paste_url %>" target="_blank" type="button" class="btn btn-outline-light shadow"><%= bookmark.link_name %></a>
          <button type="button" class="btn btn-outline-info me-3 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li></li>
            <li><%= link_to 'Edit', edit_bookmark_path(bookmark), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
