<%= form_with(model: srt) do |form| %>
  <% if srt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(srt.errors.count, "error") %> prohibited this srt from being saved:</h2>

      <ul>
        <% srt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-floating">
    <%= form.text_field :date, type: "date", class: "form-control", id: "floatingTextarea1" %>
    <label for="floatingTextarea1">Date</label>
  </div>

  <div class="form-floating">
    <%= form.text_area :ops, class: "form-control", id: "floatingTextarea2", placeholder: "What for" %>
    <label for="floatingTextarea2">What are you searching for young blood?</label>
  </div>

  <div class="form-floating">
    <%= form.text_area :browser_search, class: "form-control", id: "floatingTextarea3", placeholder: "What'dya search" %>
    <label for="floatingTextarea3">Browser search</label>
  </div>

  <div class="form-floating">
    <%= form.text_area :source, class: "form-control", id: "floatingTextarea4", placeholder: "Source" %>
    <label for="floatingTextarea4">Source</label>
  </div>

  <div class="form-floating">
    <%= form.text_area :solution, class: "form-control", id: "floatingTextarea5", placeholder: "Solution" %>
    <label for="floatingTextarea5">Solution</label>
  </div>

  <div class="actions mt-2">
    <%= form.submit "Create", class: "btn btn-outline-light" %>
  </div>
<% end %>
