<p id="notice"><%= notice %></p>

<h1>Srts</h1>

<table>
  <thead>
    <tr>
      <th>Link name</th>
      <th>Paste link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @srts.each do |srt| %>
      <tr>
        <td><%= srt.link_name %></td>
        <td><%= srt.paste_link %></td>
        <td><%= link_to 'Show', srt %></td>
        <td><%= link_to 'Edit', edit_srt_path(srt) %></td>
        <td><%= link_to 'Destroy', srt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Srt', new_srt_path %>
