<p id="notice"><%= notice %></p>

<p>
  <strong>Link name:</strong>
  <%= @srt.link_name %>
</p>

<p>
  <strong>Paste link:</strong>
  <%= @srt.paste_link %>
</p>

<%= link_to 'Edit', edit_srt_path(@srt) %> |
<%= link_to 'Back', srts_path %>
