<div class="d-flex">
  <div class="nav-item dropstart">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= render 'shared/icons', icon: 'person-circle' %>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
<!--        <li><%#= link_to 'My profile', my_profile_path, class: "dropdown-item" %></li>-->
        <li><small class="dropdown-item disabled">sign in as: <%= current_user.email %></small></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      <% else %>
        <li><%= link_to 'Sign-in', new_user_session_path, class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>
</div>