<div class="card border-dark mx-auto shadow" style="width: 18rem;">
  <div class="card-body">
    <h1>Sign up</h1>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="form-floating">
        <%= f.email_field :email, type:"email", class: "form-control shadow", id: "floatingInput", placeholder: "name@example.com",
                          autofocus: true, autocomplete: "email" %>
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", type: "password", class: "form-control shadow",
                             id: "floatingNewPassword", placeholder: "name@example.com" %>
        <label for="floatingNewPassword">Password</label>
      </div>

      <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", class: "form-control shadow",
        id: "floatingPasswordConf", placeholder: "name@example.com" %>
        <label for="floatingPasswordConf">Confirm Password</label>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-outline-dark btn-lg shadow" %>
      </div>
    <% end %>
  </div>
  <div class="card-footer border-dark">
    <%= render "users/shared/links" %>
  </div>
</div>
